body{
  font-family: 'Titillium Web', sans-serif;
  background: #c2ced1;
} 
h2 {
  font-family: "Avant Garde", "Century Gothic", sans-serif;
  font-weight: 100;
  color: #04918f;
  text-align: center;
}
img {
    display: block;
    margin: auto;
}
.navbar {
    display: block;
}

<<<<<<< HEAD
=======
#contact {
    font-size: 2em;
}
>>>>>>> e3b3ac122429f20227c5a804c4e7737d5f86d83c

.fa-facebook-square {
    color: #3B5998;
}
.fa-envelope-o {
    color: Gray;
}
.fa-github {
    color: black;
}
<<<<<<< HEAD

my-email::after {
    content: attr(data-domain);
}
my-email::before {
    content: attr(data-user) "\0040";
}

=======
>>>>>>> e3b3ac122429f20227c5a804c4e7737d5f86d83c
