body{
  font-family: 'Titillium Web', sans-serif;
  background: #c2ced1;
} 
h2 {
  font-family: "Avant Garde", "Century Gothic", sans-serif;
  font-weight: 100;
  color: #04918f;
  text-align: center;
}
#profile_pic {
    display: block;
    margin: auto;
	height: 300px;
}
.navbar {
    display: block;
	font-size: 2em;
}

.nav-link {
	margin: 10px 20px;
}

#contact {
    font-size: 2em;
}

.fa-facebook-square {
    color: #3B5998;
}
.fa-envelope-o {
    color: Gray;
}
.fa-github {
    color: black;
}

my-email::after {
    content: attr(data-domain);
}
my-email::before {
    content: attr(data-user) "\0040";
}

